.red-cross-text {
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.red-cross-main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.red-cross-main-image {
  width: 40%;
  height: auto;
  border-radius: 30px;
}

@media (max-width: 767px) {

  .red-cross-text {
    width: 90%;
  }
  .red-cross-main-image {
    width: 80%;
  }


}
